Actuatior Node -MQTT Publish .json
[{"id":"94a75ced.977ab","type":"tab","label":"Actuator Node","disabled":true,"info":""},{"id":"e1008015.be17b","type":"ui_button","z":"94a75ced.977ab","name":"","group":"66314148.d99c","order":39,"width":0,"height":0,"passthru":false,"label":"Start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"on","payloadType":"str","topic":"","x":110,"y":300,"wires":[["13fcc0df.7a44ff","2dd757c0.2dc578","b6fb70ca.40e81","4d52a7da.2aeb88"]]},{"id":"904ea195.f4686","type":"trigger","z":"94a75ced.977ab","op1":"off","op2":"on","op1type":"str","op2type":"str","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":640,"y":220,"wires":[["7413b9bd.8a74b8","914d40ac.4186a"]]},{"id":"7413b9bd.8a74b8","type":"mqtt out","z":"94a75ced.977ab","name":"","topic":"switch2_two","qos":"","retain":"","broker":"5cdc8751.c1e7f8","x":830,"y":180,"wires":[]},{"id":"481c8976.515fa8","type":"trigger","z":"94a75ced.977ab","op1":"off","op2":"on","op1type":"str","op2type":"str","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":660,"y":300,"wires":[["f1cf91bf.e9067","914d40ac.4186a"]]},{"id":"f1cf91bf.e9067","type":"mqtt out","z":"94a75ced.977ab","name":"","topic":"switch1_one","qos":"","retain":"","broker":"5cdc8751.c1e7f8","x":950,"y":420,"wires":[]},{"id":"1f23b78.afc7749","type":"change","z":"94a75ced.977ab","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":300,"wires":[["481c8976.515fa8"]]},{"id":"13fcc0df.7a44ff","type":"delay","z":"94a75ced.977ab","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":300,"wires":[["1f23b78.afc7749"]]},{"id":"d51d41e1.ec0e","type":"mqtt out","z":"94a75ced.977ab","name":"Motor_Node","topic":"switch3_three","qos":"","retain":"","broker":"5cdc8751.c1e7f8","x":650,"y":120,"wires":[]},{"id":"2dd757c0.2dc578","type":"delay","z":"94a75ced.977ab","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":220,"wires":[["904ea195.f4686"]]},{"id":"b6fb70ca.40e81","type":"delay","z":"94a75ced.977ab","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":320,"y":400,"wires":[["75d8f854.342b88","bd4567d9.918ec8"]]},{"id":"75d8f854.342b88","type":"mqtt out","z":"94a75ced.977ab","name":"Motor_Node","topic":"switch3_three","qos":"","retain":"","broker":"5cdc8751.c1e7f8","x":670,"y":400,"wires":[]},{"id":"4d52a7da.2aeb88","type":"change","z":"94a75ced.977ab","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":140,"wires":[["d51d41e1.ec0e","d8aa50c6.f1769"]]},{"id":"914d40ac.4186a","type":"debug","z":"94a75ced.977ab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1210,"y":260,"wires":[]},{"id":"d8aa50c6.f1769","type":"change","z":"94a75ced.977ab","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":40,"wires":[["914d40ac.4186a","bcff05be.97d058"]]},{"id":"bd4567d9.918ec8","type":"change","z":"94a75ced.977ab","name":"change","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":500,"wires":[["914d40ac.4186a","bcff05be.97d058"]]},{"id":"8376c6f6.1e29e8","type":"comment","z":"94a75ced.977ab","name":"","info":"Motor ON\nValve pulse - 400ms -ON after 100 ms\n\nTHE SYSTEM WILL RUN TILL 10 Sec\n\nThen MOTOR OFF\n11th Second Valve off - Pulse","x":500,"y":360,"wires":[]},{"id":"bcff05be.97d058","type":"change","z":"94a75ced.977ab","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Motor\":payload  }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":120,"wires":[["ba4b17ee.dc60b8"]]},{"id":"ba4b17ee.dc60b8","type":"http request","z":"94a75ced.977ab","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://thingsboard.e-yantra.org/api/v1/Z1U4jkpXK1KDB4fQQVW5/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1370,"y":180,"wires":[["914d40ac.4186a"]]},{"id":"38cb58ef.00df58","type":"mqtt in","z":"94a75ced.977ab","name":"","topic":"MoistureM5","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":250,"y":640,"wires":[["170eba3c.fb46f6"]]},{"id":"170eba3c.fb46f6","type":"ui_text","z":"94a75ced.977ab","group":"66314148.d99c","order":38,"width":0,"height":0,"name":"","label":"M5","format":"{{msg.payload}}","layout":"row-left","x":490,"y":640,"wires":[]},{"id":"66314148.d99c","type":"ui_group","z":"","name":"Default","tab":"85ff9f74.a6872","order":1,"disp":true,"width":"20","collapse":false},{"id":"5cdc8751.c1e7f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.126","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85ff9f74.a6872","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]