Sensing Node- MQTT-HTTP.json
[{"id":"92d2ab96.8dd808","type":"tab","label":"Working","disabled":false,"info":""},{"id":"cfc16b3.c968e98","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":13,"width":0,"height":0,"name":"","label":"Atmospheric Pressure","format":"{{msg.payload}}","layout":"row-left","x":640,"y":80,"wires":[]},{"id":"c4de1ed9.65691","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":14,"width":0,"height":0,"name":"","label":"Battery Voltage (v)","format":"{{msg.payload}}","layout":"row-left","x":610,"y":280,"wires":[]},{"id":"1546e092.12fa5f","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":15,"width":0,"height":0,"name":"","label":"Battery current (mA)","format":"{{msg.payload}}","layout":"row-left","x":620,"y":520,"wires":[]},{"id":"245e29ec.6920a6","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":16,"width":0,"height":0,"name":"","label":"USB in voltage (V)","format":"{{msg.payload}}","layout":"row-left","x":350,"y":240,"wires":[]},{"id":"4d4374f9.6a068c","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":18,"width":0,"height":0,"name":"","label":"External Voltage (V)","format":"{{msg.payload}}","layout":"row-left","x":360,"y":560,"wires":[]},{"id":"cc0becc.aeedc1","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":17,"width":0,"height":0,"name":"","label":"USB in Current (mA)","format":"{{msg.payload}}","layout":"row-left","x":920,"y":740,"wires":[]},{"id":"cdeeb319.0cc52","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":19,"width":0,"height":0,"name":"","label":"External Current (mA)","format":"{{msg.payload}}","layout":"row-left","x":580,"y":740,"wires":[]},{"id":"f88fe873.4a7a18","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":20,"width":0,"height":0,"name":"","label":"Battery Power (mW)","format":"{{msg.payload}}","layout":"row-left","x":1500,"y":780,"wires":[]},{"id":"95301941.0d8128","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicBatteryVolt","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":340,"y":320,"wires":[["c4de1ed9.65691","f511da81.b98f88","5f254413.520d7c"]]},{"id":"e4326b13.372748","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicBatteryCurrent","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":610,"y":580,"wires":[["1546e092.12fa5f","c999448d.80fcf8","36525713.d58ad8","78f622a5.d3f29c"]]},{"id":"f80d8912.277a68","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicUSB_Volt","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":120,"y":320,"wires":[["245e29ec.6920a6","56303e7f.4762c"]]},{"id":"12be3a1d.f0ee36","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicGUSB_CURRENT","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":920,"y":840,"wires":[["cc0becc.aeedc1","17d2921e.e5dd7e"]]},{"id":"ca64c041.e3a76","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicGzExtVolt","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":100,"y":500,"wires":[["4d4374f9.6a068c","ba78c747.f8a1e8","f2d09fc9.4362b"]]},{"id":"a58bdefa.fd061","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicGzExtCurrent","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":150,"y":780,"wires":[["cdeeb319.0cc52","3d47c6d0.a4dffa","33d5226b.0a1fee"]]},{"id":"f8f2852e.426608","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"TopicBatteryPower","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":1450,"y":860,"wires":[["f88fe873.4a7a18","8b17ed6f.bbd6e"]]},{"id":"c999448d.80fcf8","type":"switch","z":"92d2ab96.8dd808","name":"Charging","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":640,"wires":[[],[]]},{"id":"d8f9116a.1e3eb","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"flowrate","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":2030,"y":880,"wires":[["657c69e4.700d08"]]},{"id":"3bdb958d.d7b89a","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"totalflow","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":2300,"y":900,"wires":[["69cc4a5a.35fba4"]]},{"id":"657c69e4.700d08","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":27,"width":0,"height":0,"name":"","label":"Flowrate","format":"{{msg.payload}}","layout":"row-left","x":2160,"y":960,"wires":[]},{"id":"69cc4a5a.35fba4","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":28,"width":0,"height":0,"name":"","label":"Total Flow","format":"{{msg.payload}}","layout":"row-left","x":2460,"y":960,"wires":[]},{"id":"77a8cced.ab2774","type":"http request","z":"92d2ab96.8dd808","d":true,"name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://thingsboard.e-yantra.org/api/v1/Z1U4jkpXK1KDB4fQQVW5/telemetry","tls":"","persist":false,"proxy":"","authType":"","x":1550,"y":300,"wires":[[]]},{"id":"8b17ed6f.bbd6e","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{        \"Battery_Power\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":700,"wires":[["77a8cced.ab2774"]]},{"id":"17d2921e.e5dd7e","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"USB_current\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":840,"wires":[["77a8cced.ab2774"]]},{"id":"36525713.d58ad8","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"battery_current\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":580,"wires":[["77a8cced.ab2774"]]},{"id":"f511da81.b98f88","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"battery_voltage\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":360,"wires":[["77a8cced.ab2774"]]},{"id":"8c4a3594.871d28","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Wireless_Moisture\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":220,"wires":[["77a8cced.ab2774"]]},{"id":"56303e7f.4762c","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"USB_Voltage\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["77a8cced.ab2774"]]},{"id":"ba78c747.f8a1e8","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"External_Voltage\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":500,"wires":[["77a8cced.ab2774"]]},{"id":"3d47c6d0.a4dffa","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"External_Current\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":780,"wires":[["77a8cced.ab2774"]]},{"id":"872c7838.5faae8","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"Temperature_12","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":1300,"y":80,"wires":[["c1cc21db.b932d","48d17fcb.f8d12"]]},{"id":"ab5d3081.a7daa","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"Humidity_12","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":1710,"y":180,"wires":[["744e4c3e.4a81e4","de2d8756.ebfcd8","5b18d758.4381c8","daa20737.6570b8"]]},{"id":"c1cc21db.b932d","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":13,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-left","x":1510,"y":20,"wires":[]},{"id":"744e4c3e.4a81e4","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":13,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-left","x":1880,"y":40,"wires":[]},{"id":"48d17fcb.f8d12","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Temperature\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":140,"wires":[["77a8cced.ab2774","917ce347.10816"]]},{"id":"de2d8756.ebfcd8","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Humiidity\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1900,"y":280,"wires":[["77a8cced.ab2774"]]},{"id":"c5073150.4ccc1","type":"smooth","z":"92d2ab96.8dd808","name":"Average","property":"payload","action":"mean","count":"10","round":"","mult":"multi","reduce":false,"x":580,"y":180,"wires":[["53bfec5e.dabd94"]]},{"id":"53bfec5e.dabd94","type":"function","z":"92d2ab96.8dd808","name":"Average","func":"msg.topic = \"Atmospheric Pressure Average\"\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":180,"wires":[["26e045b4.3a2afa"]]},{"id":"da174632.1a73c8","type":"function","z":"92d2ab96.8dd808","name":"std_avg","func":"msg.topic = \"Standard Deviation_average\"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":180,"wires":[["d960c649.a2e168"]]},{"id":"e1d53eb1.2542f","type":"smooth","z":"92d2ab96.8dd808","name":"Std_d","property":"payload","action":"sd","count":"10","round":"","mult":"single","reduce":false,"x":610,"y":20,"wires":[["faa7e73e.8efbd8"]]},{"id":"faa7e73e.8efbd8","type":"function","z":"92d2ab96.8dd808","name":"std","func":"msg.topic = \"Std_dive\"\nreturn msg;\n","outputs":1,"noerr":0,"x":750,"y":20,"wires":[["f56db41c.9c1cd8"]]},{"id":"f56db41c.9c1cd8","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":26,"width":0,"height":0,"name":"","label":"Atmospheric Pressure Standard Deviation","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":20,"wires":[]},{"id":"26e045b4.3a2afa","type":"smooth","z":"92d2ab96.8dd808","name":"Std_d2","property":"payload","action":"sd","count":"10","round":"","mult":"single","reduce":false,"x":900,"y":180,"wires":[["da174632.1a73c8"]]},{"id":"d960c649.a2e168","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":26,"width":0,"height":0,"name":"","label":"Atmospheric Pressure Standard Deviation_avg","format":"{{msg.payload}}","layout":"row-left","x":1300,"y":220,"wires":[]},{"id":"1f022b86.69e644","type":"function","z":"92d2ab96.8dd808","name":"Average_hum","func":"msg.topic = \"Humidity_Avg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":2100,"y":220,"wires":[[]]},{"id":"5b18d758.4381c8","type":"smooth","z":"92d2ab96.8dd808","name":"","property":"payload","action":"mean","count":"10","round":"","mult":"single","reduce":false,"x":1900,"y":220,"wires":[["1f022b86.69e644","eea6eb22.df0c38"]]},{"id":"daa20737.6570b8","type":"smooth","z":"92d2ab96.8dd808","name":"std_humidity","property":"payload","action":"sd","count":"10","round":"","mult":"single","reduce":false,"x":2010,"y":100,"wires":[["51e207ab.b352f8"]]},{"id":"51e207ab.b352f8","type":"function","z":"92d2ab96.8dd808","name":"Std_hum","func":"msg.topic = \"Std_Humidity_Avg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":2200,"y":80,"wires":[["ef74fc28.97871"]]},{"id":"ef74fc28.97871","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":28,"width":0,"height":0,"name":"","label":"Humidity Std Div","format":"{{msg.payload}}","layout":"row-left","x":2520,"y":80,"wires":[]},{"id":"eea6eb22.df0c38","type":"smooth","z":"92d2ab96.8dd808","name":"std_humidity_avg","property":"payload","action":"sd","count":"10","round":"","mult":"single","reduce":false,"x":2130,"y":280,"wires":[["3f8afb15.cbe104"]]},{"id":"3f8afb15.cbe104","type":"function","z":"92d2ab96.8dd808","name":"Set_hum_avg","func":"msg.topic = \"Std_Humidity_Avg\"\nreturn msg;\n","outputs":1,"noerr":0,"x":2340,"y":280,"wires":[["f5bdfc68.49c7c"]]},{"id":"f5bdfc68.49c7c","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":29,"width":0,"height":0,"name":"","label":"Humidity Std Div_avg","format":"{{msg.payload}}","layout":"row-left","x":2510,"y":200,"wires":[]},{"id":"1dce4939.5ecce7","type":"ui_chart","z":"92d2ab96.8dd808","d":true,"name":"","group":"66314148.d99c","order":30,"width":0,"height":0,"label":"chart","chartType":"radar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#2d5b9b","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":1340,"wires":[[]]},{"id":"9e360b39.b2f6e8","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"MoistureSensor1","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":780,"y":1020,"wires":[["1dce4939.5ecce7","a8a399c0.4fa628","b076834c.5e091","3ad6b9ac.1f21e6","fccd315a.6d956","6ff2ae5e.f5c06","aeed6f1a.7d8c3"]]},{"id":"db6adf4f.a7192","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"MoistureSensor2","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":780,"y":1100,"wires":[["1dce4939.5ecce7","cb1e2d52.6d1dc","b076834c.5e091","30664b1c.964534"]]},{"id":"35a302e2.ca450e","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"MoistureSensor3","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":780,"y":1180,"wires":[["1dce4939.5ecce7","837b79c2.0a7e08","b076834c.5e091","e5c63ccb.a38f1"]]},{"id":"5f9e4d63.5030f4","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"MoistureSensor4","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":780,"y":1260,"wires":[["1dce4939.5ecce7","31271ef3.53b5c2","b076834c.5e091","156c6b82.838104"]]},{"id":"a8a399c0.4fa628","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Moisture_Data1\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1020,"wires":[["77a8cced.ab2774"]]},{"id":"cb1e2d52.6d1dc","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Moisture_Data2\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1100,"wires":[["77a8cced.ab2774"]]},{"id":"837b79c2.0a7e08","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Moisture_Data3\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1180,"wires":[["77a8cced.ab2774"]]},{"id":"31271ef3.53b5c2","type":"change","z":"92d2ab96.8dd808","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{    \"Moisture_Data4\":payload\t    }","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":1260,"wires":[["77a8cced.ab2774"]]},{"id":"917ce347.10816","type":"debug","z":"92d2ab96.8dd808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1640,"y":100,"wires":[]},{"id":"b076834c.5e091","type":"ui_chart","z":"92d2ab96.8dd808","d":true,"name":"","group":"66314148.d99c","order":33,"width":0,"height":0,"label":"chart","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":940,"wires":[[]]},{"id":"3ad6b9ac.1f21e6","type":"smooth","z":"92d2ab96.8dd808","name":"","property":"payload","action":"min","count":"10","round":"","mult":"single","reduce":false,"x":1380,"y":960,"wires":[["ac64396e.afacd8"]]},{"id":"ac64396e.afacd8","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":35,"width":0,"height":0,"name":"","label":"MIN1","format":"{{msg.payload}}","layout":"row-left","x":1570,"y":980,"wires":[]},{"id":"30664b1c.964534","type":"smooth","z":"92d2ab96.8dd808","name":"","property":"payload","action":"min","count":"10","round":"","mult":"single","reduce":false,"x":1380,"y":1060,"wires":[["85d138eb.705ea8"]]},{"id":"e5c63ccb.a38f1","type":"smooth","z":"92d2ab96.8dd808","name":"","property":"payload","action":"min","count":"10","round":"","mult":"single","reduce":false,"x":1380,"y":1140,"wires":[["a2b89864.684e48"]]},{"id":"156c6b82.838104","type":"smooth","z":"92d2ab96.8dd808","name":"","property":"payload","action":"min","count":"10","round":"","mult":"single","reduce":false,"x":1380,"y":1240,"wires":[["3927303d.63df2"]]},{"id":"85d138eb.705ea8","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":35,"width":0,"height":0,"name":"","label":"MIN2","format":"{{msg.payload}}","layout":"row-left","x":1570,"y":1060,"wires":[]},{"id":"a2b89864.684e48","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":35,"width":0,"height":0,"name":"","label":"MIN3","format":"{{msg.payload}}","layout":"row-left","x":1570,"y":1140,"wires":[]},{"id":"3927303d.63df2","type":"ui_text","z":"92d2ab96.8dd808","d":true,"group":"66314148.d99c","order":35,"width":0,"height":0,"name":"","label":"MIN4","format":"{{msg.payload}}","layout":"row-left","x":1570,"y":1220,"wires":[]},{"id":"fccd315a.6d956","type":"range","z":"92d2ab96.8dd808","minin":"2559","maxin":"3500","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":1750,"y":1000,"wires":[["e6519610.63e648"]]},{"id":"e6519610.63e648","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":37,"width":0,"height":0,"name":"","label":"Moisture Percentage","format":"{{msg.payload}}","layout":"row-left","x":1990,"y":1020,"wires":[]},{"id":"36d4f96f.ec7316","type":"function","z":"92d2ab96.8dd808","name":"std","func":"msg.topic = \"Std_div_m\"\nreturn msg;\n","outputs":1,"noerr":0,"x":1050,"y":1440,"wires":[["5d1419d5.4e9c98"]]},{"id":"6ff2ae5e.f5c06","type":"smooth","z":"92d2ab96.8dd808","name":"Std_d_m","property":"payload","action":"sd","count":"10","round":"","mult":"single","reduce":false,"x":900,"y":1440,"wires":[["36d4f96f.ec7316"]]},{"id":"5d1419d5.4e9c98","type":"ui_text","z":"92d2ab96.8dd808","group":"66314148.d99c","order":38,"width":0,"height":0,"name":"","label":"Mo_std","format":"{{msg.payload}}","layout":"row-left","x":1210,"y":1440,"wires":[]},{"id":"f53ddcc5.265f2","type":"mqtt in","z":"92d2ab96.8dd808","name":"Wireless Moisture","topic":"TopicMoisture","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":310,"y":80,"wires":[["cfc16b3.c968e98","8c4a3594.871d28","c5073150.4ccc1","e1d53eb1.2542f","8c53a73d.d1ad58"]]},{"id":"8c53a73d.d1ad58","type":"ui_chart","z":"92d2ab96.8dd808","name":"","group":"66314148.d99c","order":37,"width":0,"height":0,"label":"chart5","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":140,"wires":[[]]},{"id":"78f622a5.d3f29c","type":"ui_chart","z":"92d2ab96.8dd808","name":"","group":"66314148.d99c","order":39,"width":0,"height":0,"label":"Battery Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":540,"wires":[[]]},{"id":"5f254413.520d7c","type":"ui_chart","z":"92d2ab96.8dd808","name":"","group":"66314148.d99c","order":39,"width":0,"height":0,"label":"Battery Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":600,"y":320,"wires":[[]]},{"id":"f2d09fc9.4362b","type":"ui_chart","z":"92d2ab96.8dd808","name":"","group":"66314148.d99c","order":39,"width":0,"height":0,"label":"External Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":360,"y":460,"wires":[[]]},{"id":"33d5226b.0a1fee","type":"ui_chart","z":"92d2ab96.8dd808","name":"","group":"66314148.d99c","order":39,"width":0,"height":0,"label":"External Current","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":820,"wires":[[]]},{"id":"aeed6f1a.7d8c3","type":"debug","z":"92d2ab96.8dd808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1500,"wires":[]},{"id":"3a57e53b.aa329a","type":"mqtt in","z":"92d2ab96.8dd808","name":"","topic":"Weight","qos":"2","datatype":"auto","broker":"5cdc8751.c1e7f8","x":760,"y":1540,"wires":[["760ca289.60bc7c","aeed6f1a.7d8c3"]]},{"id":"760ca289.60bc7c","type":"ui_chart","z":"92d2ab96.8dd808","d":true,"name":"","group":"66314148.d99c","order":45,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":930,"y":1580,"wires":[[]]},{"id":"66314148.d99c","type":"ui_group","z":"","name":"Default","tab":"85ff9f74.a6872","order":1,"disp":true,"width":"20","collapse":false},{"id":"5cdc8751.c1e7f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.126","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"85ff9f74.a6872","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]